/* Scss Document */
html {
  scroll-behavior: smooth; }

#logoNav{
    width: 40px;
    height:40px;
}
#titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1080px;
    background-image: url("../images/fondo1.jpg");
}
#titulo h1{
    color: white;
}
#titulo h5{
    color: white;
}
#jumbo1{
 margin-top: 70px;   
}
.img-top{
    margin-top: 70px;  
}

body{
   background-color: rgb(135,151,163); 
}

nav{
    background-color: rgb(7,55,77);
}
.container{
    background-color: rgb(220,220,230);
}